.navbar {
  background-color: #f8f9fa;
  padding: 10px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.navbar-brand:hover{
  color: black;
}

.nav-link {
  font-size: 16px;
  padding: 0 15px;
  text-decoration: none;
  color: #333;
  line-height: 38px; 
  display: inline-flex;
  align-items: center;
}

.nav-link:hover {
  color: #ba9771;
}

.login-btn {
  padding: 0 15px;
  background: #ba9771;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  line-height: 38px; 
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 38px; 
  cursor: pointer;
  text-decoration: none;
  transition: background 0.3s ease, transform 0.2s ease;
}

.login-btn:hover {
  background: #d4b294;
}

.d-flex.align-items-center {
  align-items: center; 
}
